
@media (max-width:1360px){

    header nav{
        justify-content: space-evenly;
    }
}

@media(max-width:1080px){

    header nav .ham-btn{
        display: flex;
    }

    header nav ul{
        display: none;
    }
}